@page
@model IndexModel
@{
    ViewData["Title"] = "Rotation Frenzy";
}
<h2>@ViewData["Title"]</h2>

<h3>About</h3>
<p>
    Rotation Frenzy is a educational game designed to help players become familiar with
    and learn about angles and rotational physics. Assist the hapless squirrel back to
    its den lest it be eaten alive!
</p>

<h3>Sponsors</h3>
<p>
    This project is sponsored by UAA and the UAA Physics department, and specifically
    by the following faculty:
    <ul>
        <li>Dr. Rawlins</li>
        <li>Dr. Mock</li>
        <li>Dr. Lang</li>
        <li>Dr. Brock</li>
    </ul>
</p>
