@page
@model LevelDescModel
@{
    ViewData["Title"] = "Level Descriptions";
}
<h2>@ViewData["Title"]</h2>

<h3>Level 1: Angles in Degrees</h3>
<p>
    This arctic ground squirrel needs to get to its den.
    Help it ride the wheel some number of degrees to the den entrance - but be
    careful, if you miss and eagle swoops in and eats the squirrel!
</p>

<h3>Level 2: Angles in Radians</h3>
<p>
    Your goal is the same as in level one - help the squirrel to its den.
    But this time, all the angles are measured in radians!
</p>

<h3>Level 3: The Hidden Den</h3>
<p>
    This time, the den is hidden. Given the angle of the position of the den,
    get the squirrel home safely!
</p>

<h3>Level 4: Eagle Evasion</h3>
<p>
    Two eagles are circling the wheel with our brave squirrel! Move along
    at a similar speed till you safely reach the den.
</p>
