@page
@model PlayOnlineModel
@{
    ViewData["Title"] = "Play Online";
}

<h2>@ViewData["Title"]</h2>

<iframe src="http://cloverjacket.duckdns.org/rotationfrenzy/" id="play-frame" scrolling="no"
    class="center-block" width=1000 height=563></iframe>
